<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> PIT portal</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
     
  </head>
  <body>
    <div class="container-fluid">
    <section>
      <!-- main start -->
     
        <div class="carousel-inner">
          <div class="carousel-item active m">
            <br/><br/><br/><br/><br/>
           
            
            <h3 class="text-center"><b>ABOUTUS</b></h3>
          </div>
          
      </div>

     <!-- main end -->
      
      <!-- main2 start -->

      <div class="row mt-3">
        <div class="col-sm-2"></div>
        <div class="col-sm-3">
          <ul class="list-group">
            <li class="list-group-item list-group-item-success">An item</li>
            <li class="list-group-item list-group-item-danger">An item</li>
            <li class="list-group-item list-group-item-danger">A second item</li>
            <li class="list-group-item list-group-item-danger">A third item</li>
            <li class="list-group-item list-group-item-danger">A fourth item</li>
            <li class="list-group-item list-group-item-danger">And a fifth one</li>
          </ul>
        </div>
        <div class="col-sm-5">
          <div id="carouselExample" class="carousel slide">
            <div class="carousel-inner">
              <div class="carousel-item active ">
                <img src="img/main_pic.jpg" class="d-block w-100" alt="...">
              </div>
              
          </div>
    
        </div>
        <div class="coi-sm-2"></div>
      </div>
      <!-- main2 end -->
      
       <!-- main 3 start -->
        <div class="row mt-5">
          <div class="col-sm-2"></div>
          <div class="col-sm-3">
            <h3 class="text-center">From Chairman's Desk</h3>
            <img src="img/Chairman-Message.jpg" class="w-100" alt="">
          </div>
          <div class="col-sm-1"></div>
          <div class="col-sm-5">
            <p>India is bestowed with the largest knowledge and skilled manpower in the world which is crucial for it to become a super power. For this, it is essential that centers of excellence are created where a conducive environment is available for students and teachers to pursue their education and develop their skills. Prasad Education Trust endeavors to achieve the above objective by setting up a number of quality Institutions at various locations. Prasad Institute of Technology, Jaunpur is one such facility.

              This institution will provide an ideal opportunity not only to urban also to rural society to develop their skills and pursue their knowledge in a disciplined environment with the help of well qualified, trained and experienced faculty. We are committed to build this institute which will shape its students into future managers and engineers par excellence for tomorrow’s need. We emphasize on ensuring the right corporate and technical exposure. Prasad Institute of Technology, Jaunpur will provide you an academic environment which will help you to develop vision values and social responsibilities for a rewarding future. We invite you to be part of this endeavor.</p>
          </div>
          <div class="col-sm-1"></div>
        </div>
       <!-- main 3 end -->
      
       
        
      
       
      
       
        

      

   
       
       </section>

    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>